<table class="table table-hover">
  <thead>
      <tr>
        <th scope="col" colspan="2">Contato</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th> <i class="fa fa-whatsapp"></i></th>
        <th>(51)98169.8882</th>
       </tr>
       <tr>
        <th><i class='fa fa-envelope'></i></th>
        <th>contato@jmteam.com.br</th>
       </tr>
       <tr>
        <th><i class="fa fa-instagram"></i></th>
        <th><a href='http://www.instagram.com/jmteamcentro'>Instagram</a></th>
       </tr>
       <tr>
         <th><i class="fa fa-map-marker"></i></th>
         <th>Av. Duque de Caxias, 568, Centro histórico, Porto alegre</th>
       </tr>
       <tr>
      </tr>
      <tr>
        <th><i class='fa fa-child'></i></th>
        <th>Agende sua primeira aula experimental grátis.</th>
      </tr>
    </tbody>  
</table>
