<p>Dos eventos despretensiosos nascem surpresas inimagináveis. 

Fazer Jiu Jitsu, por mais de dez anos, me transformou como pessoa, ser humano, marido e pai.</p>

<p>Sempre estamos aprendendo, em constante aprendizado, buscando o aperfeiçoamento e próprio desenvolvimento.

Como instrutor, fui ganhando o gosto por repassar a leveza, substituindo a força.</p>

<p>Poder dar aula em muitos lugares, tratar cada indivíduo, com suas próprias possibilidades. Levava a minha experiência no tatame, como competidor, para os ensinamentos, me dando um prazer em lecionar a arte suave, agregar no íntimo guerreiro de cada novo aluno. Ativar a essência desta arte marcial, a defesa, o bem estar, saúde, grupo, atitude no dia a dia.

Nascido e criado no Centro de Porto Alegre, morei minha vida toda nos arredores do Gasômetro, Bronze, Matriz. Conheço a vizinhança, muitos amigos cresceram comigo nessas redondezas. Passamos a nos reunir, para fazer uns treinos sem pretensão, no intuito de evoluirmos juntos, não com a cabeça só em competição, mas como estilo de vida.</p>

<p>Aqueles encontros, além de cada vez mais esperados, nos tornaram mais amigos e ficaram mais sérios na hora de treinar. Sentimos a possibilidade de nos tornar um negócio diferenciado, neste entendimento, as proporções daquela “brincadeira”, foi ganhando corpo, novos alunos, com necessidade de nos mudarmos da garagem, para onde hoje treinamos na JMTEAM, na Duque de Caxias. 

Hoje, além da matriz no Centro, temos filiais no Bom Fim e Zona Sul, da Julyano Machado, Jiu-Jitsu Lifestyle.</p>

<p>Escolhi o Lifestyle, pois é o foco da formação na mentalidade dos meus alunos. 

Dar um estilo de vida, saudável e marcial, que agrega ao bairro, a sociedade e o meio ambiente, mas que principalmente, transforme as pessoas em melhores humanos.

Oss.</p>