<table class="table table-hover">
  <thead>
      <tr>
        <th scope="col" colspan="2">Planos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>R$ 60,00</th>
        <th>Duas vezes por semana</th>
       </tr>
       <tr>
        <th>R$ 80,00</th>
        <th>Três vezes por semana</th>
       </tr>
       <tr>
        <th>R$ 100,00</th>
        <th>Livre</th>
       </tr>
       <tr>
        <th>R$ 125,00</th>
        <th>Jiu Jitsu mais academia livres</th>
       </tr>
    </tbody>  
</table>